*{margin:0px;padding:0px;
  box-sizing: border-box;


	   
  }

header {
	width:100%;
	height:98px;
	background-color:#339999;
font-size:25px;	
 font-family: "Segoe Print", Georgia, Serif;
 color:white;
 text-align:center;

}

#pavadinimas{


}
#logo{
width:115px;
    margin: 2px 0 10px 10px;
}

h1{
		width:100%;
	height:98px;
	background-color:#339999;
font-size:25px;	
	
}

.mygtukoDizainas input{
        float:;
        font-size: 120%;
        background-color:  orange;
     color: white;
     width:230px;
     height: 50px;
     border: solid white;
     border-radius: 2%;
     margin-left: 1%;
}
   .mygtukoDizainas input:hover { 
    background-color: #f00;
      transition: all .3s ease-in-out;   
    transform: scale(1.01);
    color:white;
    border: none;
    
}
        
          #atgal.mygtukoDizainas input:hover { 
    background-color: green;
      transition: all .5s ease-in-out;   
    transform: scale(1.01);
    color:white;
    border: none;
    border-top-left-radius: 20%;
      border-bottom-left-radius: 75%;
          border-top-right-radius: 20%;
      border-bottom-right-radius: 10%;
}
    div.btn {
    display: inline-block;
    border: 2px solid #ccc;
    margin-right: 5px;
    padding: 2px 5px;
    cursor: pointer;
}
div.btn.on {
    background-color: #777;
    color: white;
}
    